#main-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: darkblue;
    padding: 10px;
}

.page-header {
    background-color: burlywood;
    border-width: 3px;
    border-color: darkgrey;
}

h2 {
    font-weight: bolder;
}

.main-container {
    border-width: 3px;
    border-color: darkgrey;
}

.instructions {
    font-family: cursive;
    font-style: italic;
}

.text-center {
    padding: 10px;
}

.scoreboard {
    background-color: green;
}

.crystal-spec {
    border-color: gray;
    border-width: 5px;
    max-height: 50px;
}