#main-title {
    font-family: 'Franklin Gothic Medium'; /*, 'Arial Narrow', Arial, sans-serif;*/
    font-size: 50px;
    color: darkblue;
    padding: 10px;
}

.page-header {
    background-color: burlywood;
    border-width: 3px;
    border-color: darkgrey;
}

h2 {
    font-weight: bolder;
}

.main-container {
    border-width: 3px;
    border-color: darkgrey;
}

.instructions {
    font-family: cursive;
    font-style: italic;
}

.text-center {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.number-boxes {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.crystal-row {
    text-align: center;
    padding: 10px;

}

.scoreboard {
    background-color: green;
    color: white
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: gray;
    border-width: 5px;
}

.crystal-spec {
    max-height: 50px;
}